html {
  background-color: #000;
}
body {
  background: url(greyson-joralemon-186357-unsplash.jpg) no-repeat 50% fixed;
}
.container {
  width: auto;
  max-width: 680px;
}
.cover {
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.75);
}
.light-background {
  background-color: rgba(255, 255, 255, 0.75);
}
.seventies-font {
  font-family: 'Monoton', cursive;
}
.text-align-responsive {
  text-align: left;
}
@media (min-width: 768px) {
  .text-align-responsive {
    text-align: center;
  }
}
